.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
.text-muted{
  background-color: #f3d707;
  margin-top: 650px;
}

.fondo{
  background-image: url(../img/fondo-geometrico-minimo_23-2148599625.jpg);
  font-family: 'Courier New', Courier, monospace;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-login {
  width: 400px;
  height: 340px;
  margin: auto;
  margin-top: 180px;
  color: white;
  background-color: #f3d007;
  border-radius: 10px;
}
.titulo{
  font-size: 60px;
  text-align: center;
  color:white;
  margin-bottom: 30px;
  text-shadow: 0px 0px 9px rgb(54, 54, 42);
  font-family: courier ;
}
.controls {
width: 93%;
border: 2px solid #f38d07;
margin-bottom: 15px;
padding: 11px 10px;
background: #ffffff;
font-size: 14px;
font-weight: bold;
text-align: center;
margin-left: 10px;
margin-right: 10px;

}
.buttons {
width: 93%;
height: 40px;
background: #f39907;
border: 2px solid black;
color: white;
margin-bottom: 16px;
text-align: center;
font-size: 14px; 
margin-left: 10px;
}
.buttons:hover{
  background-color: white;
  color:#f35507
}

@media only screen and (min-device-width:320px)and (max-device-width:568px){
  .form-login{
    width: 300px;
  }
} 

 
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : portrait) {
  .form-login {
    width: 600px;
    margin-top: 300px;
  }
  .buttons {
    width: 93%;
    }
  .titulo{
    font-size: 50px;
  }
  .fondo{
   background-size: cover;
   background-repeat: repeat;
  }
  .text-muted{
    background-color: #f3d007;
    margin-top: 250px;
  }
}
@media (min-width:1366px){
  .titulo{
    font-size: 50px;
  }
  .form-login {
    width: 500px;
  }
  .buttons {
    width: 93%;
    }
}
 


.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

footer p {
  margin-bottom: .25rem;
  width: 100%;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.product-list {
  flex-direction: column; 
  width: 80%;
  max-width: 30%; 
  margin: 0 auto;
  padding-left: 50px;

}

h2{
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5%;
 font-size: 60px;
}


.product-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  
}
.claseParaDecorar {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: left;
  margin-top: 15%;
  width: 600px;
  }

.product-name {
  font-size: 1.5em;
  font-weight: bold;
  text-align:center;
  margin-top: -200px;
  margin-left: auto;
  
}

.product-image {
  max-width: 200px;
  height: 150px;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 50px;
  
}

.product-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
  text-align:end;
  margin-left: 40%;
  }

.product-price {
  font-size: 1.2em;
  color: #f38d07;
  font-weight: bold;
  margin-bottom: 10px;
  align-self: flex-end;
}

.product-sold-count {
  font-size: 0.9em;
  font-weight: 500;
  color: #0c3304;
  background-color: #f3d007;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  align-self: flex-end;
}

   
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
 .claseParaDecorar{
  width: 300px;
 }
  .product-list{
    max-width: 90%;
    margin: 0;
    margin-top: 20px;
    padding-left: 0px;
  }
  .product-description{
    text-align: center;
    padding-top: 150px;
    margin-left: 0;
  }
  .product-name{
    margin-left: 0;
  }
  .product-price{
    align-self: center;
  }
  .product-sold-count{
    align-self: center;
  }
  .product-image{
    max-width: 300px;
  }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : portrait){
  .product-list{
    max-width: 90%;
    padding-left: 0;
  }

}

@media(min-width:1366px){
  .claseParaDecorar{
    width: 600px;
  }

  .product-list{
    padding-left: 0;
    padding-right: 10px;
  }
}
